/* TodoForm.css */
.todo-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: 50px auto;
    padding: 10px;
    background-color: #d64747;
    border-radius: 18px;
  }
  
.todo-form-container h1{
    text-align: center;
    color: white;
}
  .todo-form {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    padding: 4px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    display: block;
    padding-bottom: 4px;
  }
  
  .form-group input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
  }
  
  .form-group input:focus {
    outline: none;
  }

.todo-form button {
  background-color: #13ac37; 
  color: rgb(251, 250, 250);
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.todo-form button:hover {
  background-color: rgb(3, 253, 82);
  color: rgb(7, 7, 7); 
  border-radius: 17px;
}
.todo-listItems {
    margin: 5px auto;
    border-radius: 10px;
    width: 100%;
    ;
    
  }
  
  .todo-list {
     margin: 10px auto;
     background-color: #f0efef;
     border-radius: 10px;
     display: flex;
     border: 0px solid #ccc;
     justify-content: space-between;
     
     
   }

   .item-description {
     
   font-size: 20px;
   justify-content: space-between;
   
   
   
    
   }
   .list-details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
  }
 
  .todo-list input {
   padding: 40px;
   margin: 32px;
   ;
  
    
  }
  .item-name, .item-date, .item-time {
  margin: 5px 0;
  display:flex;
}

     .list2{
        
        display:  grid;
        gap: 4px;
        padding: 4px;
        border-radius: 15px;
       
        
     }
     .list2 button{
        padding: 15px;
        border-radius: 15px;
        font-size: 13px;
       
     }


      /* Style the buttons on hover */
      .delete-item  {
        background-color:  #f90a0a; 
        color: white;
        border: 2px;
        column-gap: 3px;
      }
      
      .update-item {
        background-color: #4f0fff; 
        color: white;
        border: 2px;
        column-gap: 3px;
        
      }

      /* Style the buttons on hover */
.delete-item:hover {
  background-color: #f86969;
  color: white;
  font-style: bold;
  border: 0px;
  column-gap: 3px;
}

.update-item:hover {
  background-color: #5555ff; /* Change the background color on hover */
  color: white;
  font-style: bold;
  border: 0px;
}
  /* Style the custom checkbox */
.custom-checkbox {
   scale: 3;
   accent-color: rgb(13, 165, 13);
  }
  
  .filter-buttons select {
    width: 200px; /* Adjust the width as needed */
    height: 35px; /* Adjust the height as needed */
    font-size: 16px; /* Adjust the font size as needed */
    margin-top: 8px;
    margin-bottom: -1.5px;
    text-align: center;
  }
  
  
  